<div class="row">
  <div class="col-md-12">
    <button class="btn btn-primary">Ingresar</button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table  table-dark">
      <thead>
        <tr>
          <th>Posición</th>
          <th>Fecha Ingreso</th>
          <th>Placa</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let facturaVehiculo of facturaVehiculos">
          <td>{{facturaVehiculo.posicion}}</td>
          <td>{{facturaVehiculo.fechaEntrada}}</td>
          <td>{{facturaVehiculo.vehiculo.placa}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
